@model FundsForKids.Models.EventModel;

@{
    ViewBag.Title = "Event";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Funds4Kids</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/bootstrap/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="container">
            <br/><br/><br/>
            <div class="row">
                <div class="span12 pagination-centered">
                    <h1>@Model.Name</h1>
                </div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="span12 pagination-centered">
                    <div class="span1"></div>
                    <div class="span10">
                        <div class="thumbnail" style="margin-left: 23%; margin-right: 23%;">
                            <img src="@Model.ImageUrl" alt="team"/>
                        </div>
                        <br/>
                        <div class="alert alert-success text-left" style="font-size: 2.85em; line-height: 50px;">
                            <p>
                                @Model.Description
                                <a> More...</a>
                            </p>
                        </div>
                    </div>
                    <div class="span1"></div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="span12 pagination-centered">
                    <div class="span1"></div>
                    <div class="span10">
                        <div class="progress progress-success" style="height: 40px;">
                            <div class="bar" style="width: @Model.Donations"></div>
                        </div>
                        <div class="pull-right" style="font-size: 50px;">
                            <p>@Model.Goal</p>
                        </div>
                    </div>
                    <div class="span1"></div>
                </div>

            </div>
            <br/><br/>
            <div class="row">
                <div class="span12 pagination-centered">
                    <div class="span1"></div>
                    <div class="span10" style="line-height: 60px">
                        @foreach(var denomination in Model.Denominations)
                        {
                            <a onclick="submitPayment(@denomination.Amount)" class="btn-primary donate-button"></a>
                        }
                    </div>
                    <div class="span1"></div>
                </div>
            </div>
            <br/><br/>
        </div>
        <!-- .container -->
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/boostrap")
    </body>
</html>

